*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    text-align: center;
    justify-self: center;
    margin-top: 4rem;
    gap: 4rem;
}
p{
    font-size: 1.8rem;
}
#userscore{
    font-size: 2.5rem;
}
#compscore{
    font-size: 2.5rem;
}
.msgcontainer{

   margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    
}